<nav class="navbar navbar-expand-sm navbar-light fixed-top navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dmnigpnke/image/upload/v1594938626/Fichier_2_bepu6t.png" %>
    <% end %>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="my-1 mx-2 close" style="color: white;">X</span>
    <span class="navbar-toggler-icon navbar-white navbar-inverse"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item nav-color" >
          <%= link_to "Accueil", :accueil, class: "nav-link navbar-white" %>
      </li>
      <li class="nav-item nav-color">
        <%= link_to "Mon entreprise", :entreprise, class: "nav-link navbar-white" %>
      </li>
      <li class="nav-item nav-color">
           <%= link_to "Mes missions", :mission, class: "nav-link navbar-white" %>
      </li>
      <li class="nav-item nav-color">
        <%= link_to "Bilan", :bilan, class: "nav-link navbar-white" %>
      </li>
      <li class="nav-item nav-color">
         <%= link_to "À propos", :about, class: "nav-link navbar-white" %>
      </li>

    </ul>
  </div>
</nav>


